{% extends 'main/layout.html'%}
{% load static%}

{% block title %}Вилочные погрузчики{% endblock %}

{% block contect %}

<h1>{{ vil_pogruz.ru_title }}</h1>
<br>

<div class="row justify-content-md-center">
    <div class="col-md-auto">
        <table>
            <thead>
            <tr>
                <th colspan="2" id="thead">Характеристики единицы</th>
            </tr>
            </thead>

            <tr>
                <td>Состаяние:</td>
                <td>{{ vil_pogruz.state }}</td>
            </tr>
            <tr>
                <td>Двигатель:</td>
                <td>{{ vil_pogruz.engine }}</td>
            </tr>

            <tr>
                <td>Высота разгрузки:</td>
                <td>{{ vil_pogruz.unload_height }}</td>
            </tr>


            {% if vil_pogruz.climb_angle %}
            <tr>
                <td>Угол подъема:</td>
                <td>{{ vil_pogruz.climb_angle }}</td>
            </tr>
            {% endif %}

            <tr>
                <td>Радиус разворота:</td>
                <td>{{ vil_pogruz.turning_radius }}</td>
            </tr>

            {% if vil_pogruz.width %}
            <tr>
                <td>Длинна вил:</td>
                <td>{{ vil_pogruz.width }}</td>
            </tr>
            {% endif %}

            {% if vil_pogruz.tire %}
            <tr>
                <td>Размер шин:</td>
                <td>{{vil_pogruz.tire}}</td>
            </tr>
            {% endif %}

            {% if vil_pogruz.wheels %}
            <tr>
                <td>Колесная база:</td>
                <td>{{vil_pogruz.wheels}}</td>
            </tr>
            {% endif %}

            {% if vil_pogruz.mass %}
            <tr>
                <td>Масса:</td>
                <td>{{vil_pogruz.mass}}</td>
            </tr>
            {% endif %}

            {% if vil_pogruz.dimension %}
            <tr>
                <td>Габариты:</td>
                <td>{{vil_pogruz.dimension}}</td>
            </tr>
            {% endif %}

        </table>
        <a href="/#okno">
            <button>Узнать цену</button>
        </a>
    </div>

    <div class="col-md-auto">
        <div class="carousel slide" data-ride="carousel" id="slides">
            <ul class="carousel-indicators">
                <button class="slide_b">
                    <li data-target="#slides" data-slide-to="0" class="action"></li>
                </button>
                {% if vil_pogruz.image2 %}
                <button class="slide_b">
                    <li data-target="#slides" data-slide-to="1"></li>
                </button>
                {% endif %}
                {% if vil_pogruz.image3 %}
                <button class="slide_b">
                    <li data-target="#slides" data-slide-to="2"></li>
                </button>
                {% endif %}
                {% if vil_pogruz.image4 %}
                <button class="slide_b">
                    <li data-target="#slides" data-slide-to="3"></li>
                </button>
                {% endif %}
                {% if vil_pogruz.image5 %}
                <button class="slide_b">
                    <li data-target="#slides" data-slide-to="4"></li>
                </button>
                {% endif %}
            </ul>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ vil_pogruz.image1.url }}" class="d-block w-100" alt="...">
                </div>
                {% if vil_pogruz.image2 %}
                <div class="carousel-item">
                    <img src="{{ vil_pogruz.image2.url }}" class="d-block w-100" alt="...">
                </div>
                {% endif %}
                {% if vil_pogruz.image3 %}
                <div class="carousel-item">
                    <img src="{{ vil_pogruz.image3.url }}" class="d-block w-100" alt="...">
                </div>
                {% endif %}
                {% if vil_pogruz.image4 %}
                <div class="carousel-item">
                    <img src="{{ vil_pogruz.image4.url }}" class="d-block w-100" alt="...">
                </div>
                {% endif %}
                {% if vil_pogruz.image5 %}
                <div class="carousel-item">
                    <img src="{{ vil_pogruz.image5.url }}" class="d-block w-100" alt="...">
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>


{% endblock %}

{% block foot %}
<h3 class="field_callback_title">Остались вопросы?</h3>
<p>Оставьте заявку на главной странице и мы вам перезвоним</p>

<a href="/#okno">
    <button type="submit">
        Оставить заявку
    </button>
</a>
{% endblock %}