{% extends 'main/layout.html'%}
{% load static %}

{% block title %}Главная страница{% endblock %}

{% block contect %}

<div class="ban">
	<img src="{% static 'main/img/ban1.jpg'%}" alt="" id="ban">
<!--	<p>Shandong Huake Machinery Co., Ltd</p>-->
</div>

<div id="info">
    <p>
        Shandong Huake Machinery Co., Ltd. постоянно занимается технологическими инновациями продуктов, а также
        исследованиями, разработками и продажей новых продуктов. Постоянные исследования и разработки позволяют нам
        постоянно
        внедрять инновации в исследования и разработки продуктов. Основная техника: малые дорожные катки, малые
        экскаваторы,
        односторонние виброплиты, двухсторонние виброплиты, ударные трамбовки, затирочные машины, дорожные фрезы и
        другая
        мелкая строительная и снегоуборочная техника, малый глубинный культиватор и другая садовая техника. Специально
        для
        японских и немецких технологий для улучшения и совершенствования продукта, более удовлетворяющего потребности
        клиентов.
    </p>

    <p>
        Небольшая дорожная техника, разработанная Shandong Huake Machinery Co., Ltd., широко используется в
        сельскохозяйственных посадках, озеленении, рытье траншей и внесении удобрений, небольших земляных работах,
        коммунальном строительстве, ремонте дорог, гидроэнергетике, транспорте и других областях. Наше оборудование
        позволяет не только экономить трудовые и материальные ресурсы, но и удовлетворять различные эксплуатационные
        потребности и создавать максимальные преимущества в условиях ограниченного рабочего пространства. Продукция
        продается в различных регионах и экспортируется более чем в дюжину регионов, таких как Россия, Таиланд, Вьетнам,
        Иран и т. д., и была хорошо принята отечественными и зарубежными покупателями.
    </p>

    <p>
        Мы всегда придерживаемся духа предприятия «взаимовыгодное сотрудничество, клиент в первую очередь», с хорошими
        технологиями и контролем качества продукции, красивым внешним видом продукта, совершенной системой
        послепродажного
        обслуживания, своевременным и продуманным, используем наши услуги, чтобы помочь клиентам создать более высокую
        ценность.
    </p>

    <p>
        Новаторский, инновационный, основанный на рынке разработок, качественный, оперативный и внимательный к
        пользователям
        сервис. Создавайте продукты и услуги на основе талантов и технологий. Делайте карьеру добросовестно и усердно;
        будьте готовы к опасностям в безопасные времена и стремитесь выжить благодаря совершенству.

    </p>
</div>

<!--    {% csrf_token %}-->
<!--    {{ form }}-->
<p><a name="call"></a></p>
{% endblock %}

{% block foot %}
<p><a name="okno"></a></p>
    <div class="col_two_third col_last">

        <div class="widget " style="margin-bottom: -20px;">


            <div>
                <form method="post">
                    <h3 class="field_callback_title">Остались вопросы?</h3>
                    <p>Оставьте заявку и мы вам перезвоним</p>
                    {% csrf_token %} <br>
                    {{ form.name }} <br>
                    {{ form.phone_number }} <br>
                    {{ form.email }} <br>
                    {{ form.message }} <br>
                    <span>{{ error }}</span>
                    <div class="form-group">
                        <small class="form-text text-muted editable block_199855 item-option_737531 field_privacy">Отправляя
                            данную форму, вы соглашаетесь c <a target="_blank" href="/politika-konfidencialnosti"
                                                               id="pc">Политикой конфиденциальности</a></small>
                    </div>
                    <button type="submit">
                        Заказать звонок
                    </button>
                    <br>
<!--                    <p id="field_footer_text">Shandong Huake Machinery Co., Ltd</p>-->

                </form>

            </div>

        </div>

    </div>

{% endblock %}
