{% extends 'main/layout.html'%}
{% load static%}

{% block title %}Погрузчики{% endblock %}

{% block contect %}

<h1>Погрузчики</h1>
<br>
{% if pogruzs %}
    {% for el in pogruzs %}
        <form action="{% url 'pogruz_detail' el.id %}" class="category">
            <button class="cat">
                <div class="box">
                    <img src="{{ el.image1.url }}" alt="Погрузчик">
                </div>
                <div class="cap">{{ el.ru_title }}</div>
                <p>Описание техники</p>
            </button>
        </form>
    {% endfor %}

{% else %}
    <p>Эта категория пока пуста</p>
{% endif%}

{% endblock %}



{% block foot %}
<h3 class="field_callback_title">Остались вопросы?</h3>
<p>Оставьте заявку на главной странице и мы вам перезвоним</p>

<a href="/#okno">
    <button type="submit">
        Оставить заявку
    </button>
</a>
{% endblock %}