<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>politika-konfidencialnosti</title>
</head>
<body>
<h4>Политика конфиденциальности</h4>
<p>
    Мы получаем, собираем и храним любую информацию, которую вы вводите на нашем сайте или предоставляете нам любым другим способом.
Мы собираем историю заказов и покупок. Мы используем программные инструменты для измерения и сбора информации о сеансе, включая время отклика страницы, продолжительность посещений определенных страниц, информацию о взаимодействии со страницей и методы, используемые для просмотра информации вне страницы. Мы также собираем личную информацию (включая имя, адрес эл. почты, номер телефона); платежные данные (включая информацию о банковской карте), комментарии, отзывы, обзоры товаров, сообщения.
</p><p>
Когда вы оставляете заяку на звонок на нашем сайте или связываетесь с нами самотоятельно (звоните, пишите на эл. почту или в мессенджерах), мы собираем личную информацию, которую вы предоставляете нам, такую как ваше имя, номер телефона и эл. почту. Ваша личная информация будет использована только для указанных выше целей.
</p><p>
Мы собираем персональные данные и информацию неличного характера для следующих целей:<br>
1. Для предоставления услуг и управления ими;<br>
2. Для предоставления нашим пользователям помощи и технической поддержки;<br>
3. Чтобы иметь возможность отправлять нашим посетителям и пользователям общие или персонализированные уведомления и рекламные сообщения;<br>
4. Для создания агрегированных статистических данных и другой агрегированной и/или вытекающей информации неличного характера, которую мы или наши деловые партнеры можем использовать для предоставления и улучшения наших услуг;<br>
5. Для соблюдения применимых законов и регламентов.
</p><p>
Сайт нашей компании размещен на платформе RUVDS.com. RUVDS.com предоставляет нам онлайн-платформу, которая позволяет нам продавать товары и услуги. Ваши данные могут храниться в хранилище данных RUVDS.com, базах данных и общих приложениях Wix.com. Они хранят ваши данные на защищенных серверах с межсетевым экраном.
</p><p>
Мы можем связаться с вами, чтобы уведомить вас о состоянии вашего заказа; устранить неполадки с вашим заказом; разрешить спор; собрать причитающиеся платежи или взносы; узнать ваше мнение с помощью опроса или анкеты; отправить новости о нашей компании; или по другой причине, для соблюдения нашего пользовательского соглашения, применимого национального законодательства и любого соглашения, которое мы можем заключить с вами. Для этих целей мы можем связаться с вами по электронной почте, телефону, текстовым сообщениям или по почте.
</p><p>
Если вы больше не хотите, чтобы мы обрабатывали ваши данные, напишите нам по адресу huake@inbox.ru.
Если вы хотите получить доступ, исправить, изменить или удалить любую имеющуюся у нас личную информацию, вы можете написать нам по адресу huake@inbox.ru.
</p><p>
Мы оставляем за собой право изменять эту политику конфиденциальности в любое время, поэтому вам следует регулярно ее просматривать. Изменения и пояснения вступают в силу сразу же после их публикации на сайте.
</p>
</body>
</html>